{% extends 'layouts/main.html' %}
{% block title %}Fyyur | Venues{% endblock %}
{% block content %}
{% for state, listallvenues in listallvenues | groupby('state')%}
<h3>{% for city, listallvenues in listallvenues | groupby('city')%}{{ city }}{% endfor %} {{ state }}</h3>
	<ul class="items">
		{% for venue in listallvenues %}
		<li>
			<a href="/venues/{{ venue.id }}">
				<i class="fas fa-music"></i>
				<div class="item">
					<h5>{{ venue.name }}</h5>
				</div>
			</a>
		</li>
		{% endfor %}
	</ul>
{% endfor %}
{% endblock %}